* {
    box-sizing: border-box;
}

html {
    background-image: url('media/leaf-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
    min-width: 100%;
    font-family: 'Righteous', cursive;
}

h1 {
    text-align: center;
    min-width: 300px;
}

/*   
-------------------
Main View Styles
-------------------
*/

.upper-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
    border: 1px solid black;
    overflow: visible;
}

.new-button {
    width: 47%;
}

.js-filter-menu {
    width: 47%;
}

.lower-container {
    height: 110vw;
    width: 80%;
    border: 1px solid black;
    border-top: 2px solid black;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    overflow: scroll;
    background-color: rgba(240, 240, 240, 0.9);
}

.bookmark-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(47, 99, 57, 0.6);
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 2px solid black;
    padding: 5px;
}

.title-box {
    color: white;
    font-size: large;
    max-width: 65%
}

.star-box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex;
    width: 90px;
}

.no-rating-box {
    color: white;
    width: 75px;
}

.star-inner {
    background-image: url('/media/star_icon_small.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 18px;
}

.info-container {
    background-color: rgba(231, 231, 231, 0.9);
}

.info-inner-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(182, 181, 181, 0.9);
}

.info-inner-url-container {
    width: 70%;
    padding: 10px;
}
.info-url-button {
    width: 90%;
    height: 15vw;
    margin-left: auto;
    margin-right: auto;
}

.info-inner-controls {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
    margin-right: 15px;
}

.info-edit-button {
    width: 70px;
    margin-bottom: 5px;
}

.info-trash-button {
    width: 70px;
}

.info-inner-bottom {
    height: 30vw;
    padding: 5px;
    overflow: scroll;
    border-top: 1px solid black;
    border-bottom: 2px solid black;
    background-color: rgba(212, 212, 212, 0.9);
}

/*   
-------------------
Create/Edit Page Styles
-------------------
*/
.add-upper-container {
    width: 80%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
    /* border: 3px rgb(151, 3, 170) outset;
    padding: 2px; */
} 

.js-add-input {
    width: 100%;
    height: 35px;
    /* box-shadow: 1px 2px; */
}

.add-lower-container {
    height: 100vw;
    width: 80%;
    border: 1px solid black;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(211, 211, 211, 0.85);
    /* box-shadow: 2px 4px; */
}

.add-inner-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
    height: 13vw;
    padding: 5px;
    border: 1px solid black;
    border-bottom: 2px solid black;
    background-color: rgba(47, 99, 57, 0.6);
}

.js-add-inner-title {
    width: 70%;
    height: 28px;
    vertical-align: middle;
    font-size: large;
    padding-top: 2px;
    margin: auto;
    /* box-shadow: 1px 2px; */
}

.add-inner-edit {
    width: 20%;
    text-align: center;
    vertical-align: middle;
    font-size: large;
    padding-top: 2px;
}

.add-inner-bottom {
    margin: 15px;
    margin-top: 10px;
    height: 80%;
    background-color: white;
    /* background-color: rgba(212, 212, 212, 0.85); */
}

.add-inner-rating {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 12vw;
    padding-right: 5px;
    border: 2px solid black;
    padding: 3px;
    background-color: rgba(47, 99, 57, 0.6);
    /* box-shadow: 1px 2px; */
}

.js-add-rating {
    width: 0;
    height: 0;
}

.add-inner-rating input[type="radio"]:checked+label {
    /* background-color: purple; */
    background-image: url('/media/star_icon_small.png');
}

.add-inner-rating input[type="radio"]:hover+label {
    /* background-color: purple; */
    background-image: url('/media/star_icon_small.png');
    cursor: pointer;
}

.star {
    display: flex;
    background-image: url('/media/empty-star-transparent.png');
    vertical-align: middle;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    width: 40px;
    padding-top: 3px;
    padding-left: 3px;
    cursor: pointer;
    font-size: small;
    font-weight: bold;
}

p {
    margin: auto;
}

textarea {
    width: 100%;
    height: 67vw;
    font-size: small;
}

.add-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 12vw;
}

.cancel-button {
    width: 47%;
}

.create-button {
    width: 47%;
}

.hidden {
    display: none;
}

.js-error-message {
    position: fixed;
    text-align: center;
    right: 10px;
    top: 20px;
    width: 110px;
    border: 1px solid black;
    background-color: rgb(197, 7, 7);
    color: white;
    border-radius: 10px;
    padding: 4px;
    font-size: small;
}

.js-edit-button {
    width: 47%;
}

@media screen and (min-width: 430px) {
    main {
        width: 430px;
        height: 540px;
        margin-left: auto;
        margin-right: auto;
    }

    .lower-container {
       height: 500px; 
    }

    .add-lower-container {
        height: 430px;
    }

    .add-button-container {
        height: 50px;
    } 

    .add-inner-top {
        height: 50px;
    }

    .add-inner-rating {
        height: 50px;
    }

    .js-add-inner-description {
        height: 288px;
    }

    .info-inner-top {
        height: 85px;
    }

    .info-inner-bottom {
        height: 125px;
    }

    .info-url-button { 
        height: 65px;
    }
}