* {
    box-sizing: border-box;
}

/* body {
    background-color: purple;
    color: white;
} */

h1 {
    text-align: center;
    min-width: 300px;
}

/*   
-------------------
Main View Styles
-------------------
*/

.upper-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    height: 15vw;
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
    border: 1px solid black;
    overflow: visible;
}

.new-button {
    width: 47%;
}

.js-filter-menu {
    width: 47%;
}

.lower-container {
    height: 110vw;
    width: 80%;
    border: 1px solid black;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    overflow: scroll;
}

.bookmark-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 5px;
}

.title-box {
    
}

.star-box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    width: 90px;
}

.star-inner {
    background-image: url('/media/star_icon_small.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 18px;
}

.info-inner-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info-inner-url-container {
    width: 70%;
    padding: 10px;
}
.info-url-button {
    width: 90%;
    height: 15vw;
    margin-left: auto;
    margin-right: auto;
}

.info-inner-controls {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
    margin-right: 15px;
}

.info-edit-button {
    width: 70px;
    margin-bottom: 5px;
}

.info-trash-button {
    width: 70px;
}

.info-inner-bottom {
    height: 30vw;
    padding: 5px;
    overflow: scroll;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

/*   
-------------------
Add Container Styles
-------------------
*/
.add-upper-container {
    width: 80%;
    height: 15vw;
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
}

.js-add-input {
    width: 100%;
    height: 10vw;
    /* box-shadow: 1px 2px; */
}

.add-lower-container {
    height: 100vw;
    width: 80%;
    border: 1px solid black;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    /* box-shadow: 2px 4px; */
}

.add-inner-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 12vw;
    padding: 5px;
    border-bottom: 1px solid black;
}

.js-add-inner-title {
    width: 70%;
    vertical-align: middle;
    font-size: large;
    padding-top: 2px;
    margin-left: auto;
    margin-right: auto;
    /* box-shadow: 1px 2px; */
}

.add-inner-edit {
    width: 20%;
    text-align: center;
    vertical-align: middle;
    font-size: large;
    padding-top: 2px;
}

.add-inner-bottom {
    margin: 15px;
    margin-top: 10px;
    height: 80%;
    
}

.add-inner-rating {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 12vw;
    padding-right: 5px;
    border: 1px solid black;
    padding: 3px;
    /* box-shadow: 1px 2px; */
}

.js-add-rating {
    width: 0;
    height: 0;
}

.add-inner-rating input[type="radio"]:checked+label {
    background-color: purple;
}

.add-inner-rating input[type="radio"]:hover+label {
    background-color: purple;
    cursor: pointer;
}

.star {
    display: flex;
    background-image: url('/media/star_icon_small.png');
    vertical-align: middle;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    width: 40px;
    padding-top: 4px;
    cursor: pointer;
    font-size: small;
    font-weight: bold;
}

p {
    margin: auto;
}

textarea {
    width: 100%;
    height: 67vw;
    font-size: small;
}

.add-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 12vw;
}

.cancel-button {
    width: 47%;
}

.create-button {
    width: 47%;
}

.hidden {
    display: none;
}

.js-error-message {
    position: fixed;
    text-align: center;
    bottom: 10vw;
    right: 3vw;
    width: 300px;
    height: 24px;
    border: 1px solid black;
    background-color: rgb(197, 7, 7);
    color: white;
    border-radius: 10px;
    padding-top: 4px;
    font-size: small;
}

.js-edit-button {
    width: 47%;
}
