* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    min-width: 300px;
}

/*   
-------------------
Main View Styles
-------------------
*/

.upper-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    height: 15vw;
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
    border: 1px solid black;
    overflow: visible;
}

.new-button {
    width: 47%;
}

.js-filter-menu {
    width: 47%;
}

.lower-container {
    height: 110vw;
    width: 80%;
    border: 1px solid black;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    overflow: scroll;
}

.bookmark-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 5px;
}

.title-box {
    
}

.star-box {

}

.info-inner-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info-inner-url-container {
    width: 70%;
    padding: 10px;
}
.info-url-button {
    width: 90%;
    height: 15vw;
    margin-left: auto;
    margin-right: auto;
}

.info-inner-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding-top: 5px;
    margin-right: 15px;
}

.info-edit-button {
    width: 70px;
    margin-bottom: 5px;
}

.info-trash-button {
    width: 70px;
}

.info-inner-bottom {
    height: 30vw;
    padding: 5px;
    overflow: scroll;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

/*   
-------------------
Add Container Styles
-------------------
*/
.add-upper-container {
    width: 80%;
    height: 15vw;
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
}

.js-add-input {
    width: 100%;
    height: 10vw;
}

.add-lower-container {
    height: 100vw;
    width: 80%;
    border: 1px solid black;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.add-inner-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 12vw;
    padding: 5px;
    border-bottom: 1px solid black;
}

.js-add-inner-title {
    width: 70%;
    vertical-align: middle;
    font-size: large;
    padding-top: 2px;
    margin-left: auto;
    margin-right: auto;
}

.add-inner-edit {
    width: 20%;
    text-align: center;
    vertical-align: middle;
    font-size: large;
    padding-top: 2px;
}

.add-inner-bottom {
    margin: 15px;
    margin-top: 10px;
    height: 80%;
}

.add-inner-rating {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 12vw;
    padding-right: 5px;
    border: 1px solid black;
}

/*.js-add-rating {
    width: 0;
    height: 0;
}*/

.star {
    text-align: center;
    width: 10%;
    padding-top: 8px;
    cursor: pointer;
}

.rating:checked + label {
    background-color: black;
    color: white;
}

textarea {
    width: 100%;
    height: 67vw;
    font-size: small;
}

.add-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 12vw;
}

.cancel-button {
    width: 47%;
}

.create-button {
    width: 47%;
}

.hidden {
    display: none;
}

.js-error-message {
    position: fixed;
    text-align: center;
    bottom: 10vw;
    right: 3vw;
    width: 300px;
    height: 24px;
    border: 1px solid black;
    padding-top: 4px;
    font-size: small;
}

.js-edit-button {
    width: 47%;
}
